<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bookManager/createBook.css'%}" />
  </head>
  <body>
    <div class="log">
      <p>Logged In as: {{ user.username }}</p>
      <form action="{% url 'logoutuser' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="boton">Logout</button>
      </form>
    </div>
    <form method="POST" enctype="multipart/form-data" class="add_book">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="boton">Save</button>
    </form>
    <br />
    <br />
    <a href="{% url 'categoryList' %}" class="boton">List by Category</a>
    <a href="/bookList" class="boton">List of Books</a>
  </body>
</html>
